<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- 中文编码过滤器 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.classSelection.util.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- Session监听器 用于记录SessionID -->
	<listener>
		<listener-class>com.ClassSelection.util.SessionListener</listener-class>
	</listener>

	<!-- 欢迎页面 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Servlet映射 -->
	<!-- 登录操作 -->
	<servlet>
		<servlet-name>userLogin</servlet-name>
		<servlet-class>com.ClassSelection.action.user.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogin</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<!-- 登出操作 -->
	<servlet>
		<servlet-name>userLogin</servlet-name>
		<servlet-class>com.ClassSelection.action.user.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogin</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>
	<!-- 身份验证操作 -->
	<servlet>
		<servlet-name>auth</servlet-name>
		<servlet-class>com.ClassSelection.action.user.Auth</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>auth</servlet-name>
		<url-pattern>/auth.do</url-pattern>
	</servlet-mapping>

	<!-- Session销毁时间设置 -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>

